<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="card-header" ><img src="logoSVG.svg" class="rounded" style="height: 40px"></div>

    <nav style="position: relative; left: 50%;">
        <button class="btn btn-dark border border-info" onclick="location.href = 'index.html';">Home</button>
        <button class="btn btn-dark border border-info" onclick="location.href = 'index.html';">Home</button>
        <button class="btn btn-dark border border-info" onclick="location.href = 'index.html';">Home</button>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="myLineChart"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                <script>
                        var ctx = document.getElementById('myLineChart').getContext('2d');
                        var chart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
                                'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                                datasets: [{
                                    label: 'Score',
                                    borderColor: 'rgba(10, 99, 132)',
                                    backgroundColor: 'rgba(0, 0,0,0)',
                                    pointBackgroundColor: 'rgba(10, 99, 132)',
                                    pointRadius: 10,
                                    data: [500, 610, 555, 732, 520, 830, 545, 234, 535, 745, 856, 646]
                                }]
                            },
                            options: {}
                        });
                    </script>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary " id="CS" >Consultor Financeiro</button>
                <button type="button" class="btn btn-outline-primary " id="CS1">rank de empresas</button>
            </div>
        </div>
    </div>

</div>

</body>
<footer>
    <div id="footer" class="card-footer text-white">0800 </div>
</footer>

</html>
